<a href="https://colab.research.google.com/github/siriwat-heart/DWDM21/blob/main/Data101(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [ ]:
import pandas # วิธีเรียกใช้ packag คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd # เหมือนกับข้างบนเเต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .CSV (CSV = comma separated values) เป็น

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

    name  age       city
0    tom   27  khon kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    tom   27  khon kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร

1.   ชื่อห้ามมีเว้นวรรค
2.   พยายามใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่ เเตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหนา

In [ ]:
variable_a = 12
variable_b = 'abcde'   # ' เรียกว่า quote
variable_c = variable_a

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

In [ ]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [ ]:
# (พยายาม) ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ เเต่ไม่ตวรใช้
ตัวแปร = 3
ตัวแปร

3

In [ ]:
# ตัวเล็กกับตัวใหญ่ เเตกต่างกัน (case sensitive)
v_a =1
v_a =2
print(v_a)
print(v_a)

2
2

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหนา
2ab = 1

SyntaxError: ignored

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหนา
variable1 = 1

In [ ]:
print(variable1)

1

In [ ]:
variable_a = 12
variable_b = 'abcde'     # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"     # " เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
variable_a + variable_b

TypeError: ignored

In [ ]:
print(variable_b + variable_4)

abcdeKKU

## Casting int() float() str()

In [ ]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [ ]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [ ]:
V_X + variable_a

TypeError: ignored

In [ ]:
variable_a + V_X

TypeError: ignored

In [ ]:
V_X

'-29.200000000000003'

In [ ]:
float(V_X)

-29.200000000000003

## Data Structure
# list()

In [ ]:
list_a = [1,2,0.2,'abs',] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.2]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [ ]:
len(list_b)  # len เอาไว้ดูสมาชิกใน list นั้นๆ

4

In [ ]:
list_b[3]

[1, 2, 0.2]

In [ ]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

' '

วิธีการสร้าง list ว่าง

In [ ]:
list_c = list() #แบบที่ 1
list_d = [ ] #เเบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าลงไปใน list (.append())

In [ ]:
list_d.append(a)

In [ ]:
list_d.append(56)

In [ ]:
list_d

['Stat KKU', 56]

การชี้ค่าใน list (indexing)
1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้่างหลังได้โดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [ ]:
list_b[-1]

[1, 2, 0.2]

## list slicing

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งเเต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง]

In [ ]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1]  # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[5:]

'KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
a[5:8]

'KKU'

In [ ]:
a[5::]

'KKU'

In [ ]:
a[-3::]

'KKU'

In [ ]:
a[-3::1]

'KKU'

### list + list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

format string

```python
f'string{ตัวแปร}' 
```
{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop

ทำงานซ้ำๆ หรือ ทำงานคล้ายๆกัน

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something
```

In [ ]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [ ]:
for i in range(2,7,2):
    print(i)

2
4
6

In [ ]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [ ]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [ ]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition

In [ ]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
    print('Welcome')
elif len(input_pass) > len(password):
    print('Too long, try again')
elif len(input_pass) < len(password):
    print('Too short, try again')
else:
    print('Wrong password, try again')

Wrong password, try again

## Quiz 1 หา min

In [ ]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10:30 :Quiz1)

In [ ]:
list_ex = [1,5,9,-19,-2,0]
hp = list_ex[0] 
i = 0 # ลำดับของค่าสูงสุดเริ่มต้น
for m in list_ex: # ทำการวนซ้ำตามจำนวนในลิสต์
    if(m<hp): # ถ้ามากกว่าค่าสูงสุดเดิม
        hp = m # ให้เปลี่ยนเป็นค่านั้น
        imin = i # และเปลี่ยนลำดับด้วย
    i += 1
print(min(list_ex))

-19

## HW3 ตัดเกรด

In [1]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] # ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

#### เกณฑ์คะเเนนในการตัดเกรด

80+ = A , 75 - 79 = B+ , 70-74 = B , 65 - 69 = C+

60 - 64 = C , 55 - 59 = D+ , 50 - 54 =D , 49 - 0 = F

In [6]:
# list ของเกรดแต่ละช่วง
list_A = []
list_Bplus = []
list_B = []
list_Cplus = []
list_C = []
list_Dplus = []
list_D = []
list_F = []

In [7]:
# loop ของคะแนนตามช่วง
for i in  score[:]:
    if i >= 80:
      list_A.append(i)   
    if 75 <= i <= 79:
      list_Bplus.append(i)
    if 70 <= i <= 74:
      list_B.append(i)
    if 65 <= i <= 69:
      list_Cplus.append(i)
    if 60 <= i <= 64:
      list_C.append(i)
    if 55 <= i <= 59:
      list_Dplus.append(i)
    if 50 <= i <= 54:
      list_D.append(i)
    if i <= 49:
      list_F.append(i)

In [25]:
# เกรด คะแนน เเละจำนวนคนที่ได้
print(f'ได้เกรด A      {len(list_A)}  คน      คือ {list_A}')
print(f'ได้เกรด B+    {len(list_Bplus)} คน       คือ {list_Bplus}')
print(f'ได้เกรด B      {len(list_B)}  คน      คือ {list_B}')
print(f'ได้เกรด C+   {len(list_Cplus)} คน        คือ {list_Cplus}')
print(f'ได้เกรด C      {len(list_C)}  คน      คือ {list_C}')
print(f'ได้เกรด D+   {len(list_Dplus)} คน        คือ {list_Dplus}')
print(f'ได้เกรด D     {len(list_D)}  คน       คือ {list_D}')
print(f'ได้เกรด F      {len(list_F)}  คน       คือ {list_F}')

ได้เกรด A      4  คน      คือ [95, 82, 89, 81]
ได้เกรด B+    2 คน       คือ [77, 77]
ได้เกรด B      1  คน      คือ [70]
ได้เกรด C+   1 คน        คือ [65]
ได้เกรด C      0  คน      คือ []
ได้เกรด D+   2 คน        คือ [55, 59]
ได้เกรด D     0  คน       คือ []
ได้เกรด F      3  คน       คือ [49, 20, 10]