<a href="https://colab.research.google.com/github/siriwat-heart/DWDM21/blob/main/Project_%E0%B8%A5%E0%B9%88%E0%B8%B2%E0%B8%AA%E0%B8%B8%E0%B8%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #ส่วนของการ Import
import os

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/DWDM2021_Project' #กำหนด path ของโฟลเดอร์ที่ Data อยู่

##ที่มาของข้อมูลสถานีรับส่งผู้โดยสารการรถไฟเเห่งประเทศไทย

https://data.go.th/dataset/station

In [4]:
data_st = pd.read_csv(os.path.join(path,'data_station.csv')) #กำหนดตัวแปร data_st เป็นข้อมูลของสถานีรถไฟแต่ละสถานี
data_st #เรียกดูตารางของสถานีรถไฟแต่ละสถานี

      id  station_code           name  ... active giveway dual_track
0      1          1001        กรุงเทพ  ...      1       1          1
1      2          1002          ยมราช  ...      1       1          1
2      3          1004         สามเสน  ...      1       1          1
3      4          1006     ประดิพัทธ์  ...      1       1          1
4      5          1007  ชุมทางบางซื่อ  ...      1       1          1
..   ...           ...            ...  ...    ...     ...        ...
677  678          5025       บางโทรัด  ...      1       0          0
678  679          5026      บ้านกาหลง  ...      1       0          0
679  680          5027     บ้านนาขวาง  ...      1       0          0
680  681          5028      บ้านนาโคก  ...      1       0          0
681  682          5029       เขตเมือง  ...      1       0          0

[682 rows x 17 columns]

##ที่มาของข้อมูลขบวนรถไฟสำหรับรับ-ส่งผู้โดยสาร

https://data.go.th/dataset/train

In [5]:
data_t = pd.read_csv(os.path.join(path,'data_train.csv')) #กำหนดตัวแปร data_t เป็นข้อมูลของรถไฟ
data_t #เรียกดูตารางข้อมูลรถไฟ

     Zone  goback   Num  ...            NameStEng            NameStEng_L  Service
0       1       1   0.0  ...              Bangkok       Ban Plu Ta Luang    False
1       1       1   1.0  ...              Bangkok      Bang Sue Junction     True
2       1       1   1.0  ...             Makkasan              Hua Takhe    False
3       1       1   2.0  ...              Bangkok      Bang Sue Junction     True
4       1       1   4.0  ...              Bangkok       Ban Plu Ta Luang    False
..    ...     ...   ...  ...                  ...                    ...      ...
229     5       2  26.0  ...              Nam Tok              Thon Buri    False
230     5       2  27.0  ...  Prachuap Khiri Khan              Thon Buri    False
231     5       2  28.0  ...            Lang Suan              Thon Buri    False
232     5       2  29.0  ...              Nam Tok              Thon Buri    False
233     5       2  30.0  ...              Nam Tok  Nong Pla Duk Junction    False

[234 rows x 12 columns]

##ที่มาของข้อมูล railstation

https://datagov.mot.go.th/dataset/train-station

In [6]:
data_rst = pd.read_csv(os.path.join(path,'railstation_new.csv')) #กำหนดตัวแปร data_rst ให้เป็นรางรถไฟ
data_rst #เรียกดูตารางของรางรถไฟ

     OBJECTID                      NAMET  ...           X          Y
0           1               บ้านเกาะปริง  ...   99.644994   8.213274
1           2                    ห้วยยอด  ...   99.637987   7.785456
2           3            โรงเรียนการบิน   ...   99.956660  14.088246
3           4                บ้านปลักแรด  ...  100.725785  14.530267
4           5                    เด่นชัย  ...  100.046225  17.980781
..        ...                        ...  ...         ...        ...
677       678  ศูนย์ราชการจังหวัดสระแก้ว  ...  102.138802  13.799641
678       679                    ทุ่งทอง  ...   99.638000  13.980168
679       680                ตลาดหนองคาย  ...  102.725416  17.878784
680       681               แกรนด์ คาแนล  ...  100.608267  13.941516
681       682                    กรุงเทพ  ...  100.516732  13.744026

[682 rows x 8 columns]

##ที่มาของข้อมูลชื่อตำบล อำเภอ และจังหวัด

https://www.bot.or.th/Thai/Statistics/DataManagementSystem/TempClose/FI_FM1/Code/DocLib_StandardCodeMapping/Location_Postal%20Code.xls

In [7]:
data_location = pd.read_csv(os.path.join(path,'Location_Postal_Code.csv')) ## นำเข้าข้อมูลชื่อตำบล อำเภอ และจังหวัด
data_location ##เรียกดูข้อมูลชื่อตำบล อำเภอ และจังหวัด

      Location Code   จังหวัด   เขต/อำเภอ        แขวง/ตำบล  รหัสไปรษณีย์
0            100101   กรุงเทพ      พระนคร  พระบรมมหาราชวัง         10200
1            100102   กรุงเทพ      พระนคร   วังบูรพาภิรมย์         10200
2            100103   กรุงเทพ      พระนคร       วัดราชบพิธ         10200
3            100104   กรุงเทพ      พระนคร      สำราญราษฎร์         10200
4            100105   กรุงเทพ      พระนคร   ศาลเจ้าพ่อเสือ         10200
...             ...       ...         ...              ...           ...
7421         961203  นราธิวาส       จะแนะ         ผดุงมาตร         96220
7422         961204  นราธิวาส       จะแนะ        ช้างเผือก         96220
7423         961301  นราธิวาส  เจาะไอร้อง              จวบ         96130
7424         961302  นราธิวาส  เจาะไอร้อง            บูกิต         96130
7425         961303  นราธิวาส  เจาะไอร้อง       มะรือโบออก         96130

[7426 rows x 5 columns]

##ที่มาของข้อมูลสถานการณ์การท่องเที่ยวในประเทศ รายจังหวัด ปี 2563

https://mots.go.th/more_news_new.php?cid=594

In [8]:
data_tourist = pd.read_csv(os.path.join(path,'สถานการณ์การท่องเที่ยวในประเทศ-รายจังหวัด-ปี-2563.csv')) ## นำเข้าข้อมูลสถานการณ์การท่องเที่ยวในประเทศ รายจังหวัด ปี 2563
data_tourist ##เรียกดูข้อมูล

                      ภาค          จังหวัด  จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)
0                 ภาคกลาง          กรุงเทพ                       23617914.0
1                 ภาคกลาง           ลพบุรี                        1659868.0
2                 ภาคกลาง  พระนครศรีอยุธยา                        3560866.0
3                 ภาคกลาง          สระบุรี                        1673819.0
4                 ภาคกลาง           ชัยนาท                         394900.0
..                    ...              ...                              ...
72  ภาคตะวันออกเฉียงเหนือ      อุบลราชธานี                        1537178.0
73  ภาคตะวันออกเฉียงเหนือ           สกลนคร                         856974.0
74  ภาคตะวันออกเฉียงเหนือ            ยโสธร                         303461.0
75  ภาคตะวันออกเฉียงเหนือ       อำนาจเจริญ                         153692.0
76  ภาคตะวันออกเฉียงเหนือ      หนองบัวลำภู                         191384.0

[77 rows x 3 columns]

#ดูว่าข้อมูลมี data missing

In [9]:
data_st.isnull() ##ดูค่า Missing ในตาราง data_st

        id  station_code   name  en_name  ...   long  active  giveway  dual_track
0    False         False  False    False  ...  False   False    False       False
1    False         False  False    False  ...  False   False    False       False
2    False         False  False    False  ...  False   False    False       False
3    False         False  False    False  ...  False   False    False       False
4    False         False  False    False  ...  False   False    False       False
..     ...           ...    ...      ...  ...    ...     ...      ...         ...
677  False         False  False    False  ...  False   False    False       False
678  False         False  False    False  ...  False   False    False       False
679  False         False  False    False  ...  False   False    False       False
680  False         False  False    False  ...  False   False    False       False
681  False         False  False    False  ...  False   False    False       False

[682 rows x 17 columns]

In [10]:
data_t.isnull() ##ดูค่า Missing ในตาราง data_t

      Zone  goback    Num  IdTrain  ...  NameSt_L  NameStEng  NameStEng_L  Service
0    False   False  False    False  ...     False      False        False    False
1    False   False  False    False  ...     False      False        False    False
2    False   False  False    False  ...     False      False        False    False
3    False   False  False    False  ...     False      False        False    False
4    False   False  False    False  ...     False      False        False    False
..     ...     ...    ...      ...  ...       ...        ...          ...      ...
229  False   False  False    False  ...     False      False        False    False
230  False   False  False    False  ...     False      False        False    False
231  False   False  False    False  ...     False      False        False    False
232  False   False  False    False  ...     False      False        False    False
233  False   False  False    False  ...     False      False        False    False

[234 rows x 12 columns]

In [11]:
data_rst.isnull() ##ดูค่า Missing ในตาราง data_rst

     OBJECTID  NAMET  NAMEE  ProvName  AmpName  TamName      X      Y
0       False  False  False     False    False     True  False  False
1       False  False  False     False    False    False  False  False
2       False  False  False     False    False    False  False  False
3       False  False  False     False    False    False  False  False
4       False  False  False     False    False    False  False  False
..        ...    ...    ...       ...      ...      ...    ...    ...
677     False  False  False     False    False    False  False  False
678     False  False  False     False    False    False  False  False
679     False  False  False     False    False    False  False  False
680     False  False  False     False    False    False  False  False
681     False  False  False     False    False    False  False  False

[682 rows x 8 columns]

In [12]:
data_location.isnull() ##ดูค่า Missing ในตาราง data_location

      Location Code  จังหวัด  เขต/อำเภอ  แขวง/ตำบล  รหัสไปรษณีย์
0             False    False      False      False         False
1             False    False      False      False         False
2             False    False      False      False         False
3             False    False      False      False         False
4             False    False      False      False         False
...             ...      ...        ...        ...           ...
7421          False    False      False      False         False
7422          False    False      False      False         False
7423          False    False      False      False         False
7424          False    False      False      False         False
7425          False    False      False      False         False

[7426 rows x 5 columns]

In [13]:
data_tourist.isnull() ##ดูค่า Missing ในตาราง data_prov

      ภาค  จังหวัด  จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)
0   False    False                            False
1   False    False                            False
2   False    False                            False
3   False    False                            False
4   False    False                            False
..    ...      ...                              ...
72  False    False                            False
73  False    False                            False
74  False    False                            False
75  False    False                            False
76  False    False                            False

[77 rows x 3 columns]

#สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing

In [14]:
data_st.isnull().any()  ##ดูค่า Missing รายคอลัมน์ของตาราง data_st

id                 False
station_code       False
name               False
en_name            False
th_short           False
en_short            True
chname              True
controldivision    False
exact_km           False
exact_distance     False
km                 False
class              False
lat                False
long               False
active             False
giveway            False
dual_track         False
dtype: bool

In [15]:
data_t.isnull().any() ##ดูค่า Missing รายคอลัมน์ของตาราง data_t

Zone           False
goback         False
Num            False
IdTrain        False
NameFee        False
StStart        False
NameSt         False
StFinal        False
NameSt_L       False
NameStEng      False
NameStEng_L    False
Service        False
dtype: bool

In [16]:
data_rst.isnull().any() ##ดูค่า Missing รายคอลัมน์ของตาราง data_rst

OBJECTID    False
NAMET       False
NAMEE       False
ProvName    False
AmpName     False
TamName      True
X           False
Y           False
dtype: bool

In [17]:
data_location.isnull().any()  ##ดูค่า Missing รายคอลัมน์ของตาราง data_location

Location Code    False
จังหวัด          False
เขต/อำเภอ         True
แขวง/ตำบล        False
รหัสไปรษณีย์     False
dtype: bool

In [18]:
data_tourist.isnull().any()  ##ดูค่า Missing รายคอลัมน์ของตาราง data_prov

ภาค                                False
จังหวัด                            False
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)    False
dtype: bool

#Drop missing value

ลบค่าที่เป็น Missing

In [19]:
data_st = data_st.dropna() ##ลบค่า Missing ในตาราง data_st
data_st ##เรียกดูตาราง data_st

      id  station_code           name  ... active giveway dual_track
0      1          1001        กรุงเทพ  ...      1       1          1
1      2          1002          ยมราช  ...      1       1          1
2      3          1004         สามเสน  ...      1       1          1
3      4          1006     ประดิพัทธ์  ...      1       1          1
4      5          1007  ชุมทางบางซื่อ  ...      1       1          1
..   ...           ...            ...  ...    ...     ...        ...
677  678          5025       บางโทรัด  ...      1       0          0
678  679          5026      บ้านกาหลง  ...      1       0          0
679  680          5027     บ้านนาขวาง  ...      1       0          0
680  681          5028      บ้านนาโคก  ...      1       0          0
681  682          5029       เขตเมือง  ...      1       0          0

[679 rows x 17 columns]

In [20]:
data_rst = data_rst.dropna() ##ลบค่า Missing ในตาราง data_rst
data_rst ##เรียกดูตาราง data_rst

     OBJECTID                      NAMET  ...           X          Y
1           2                    ห้วยยอด  ...   99.637987   7.785456
2           3            โรงเรียนการบิน   ...   99.956660  14.088246
3           4                บ้านปลักแรด  ...  100.725785  14.530267
4           5                    เด่นชัย  ...  100.046225  17.980781
5           6                บ้านกกกว้าว  ...  100.442303  15.141322
..        ...                        ...  ...         ...        ...
677       678  ศูนย์ราชการจังหวัดสระแก้ว  ...  102.138802  13.799641
678       679                    ทุ่งทอง  ...   99.638000  13.980168
679       680                ตลาดหนองคาย  ...  102.725416  17.878784
680       681               แกรนด์ คาแนล  ...  100.608267  13.941516
681       682                    กรุงเทพ  ...  100.516732  13.744026

[681 rows x 8 columns]

In [21]:
data_location = data_location.dropna() ##ลบค่า Missing ในตาราง data_location
data_location ##เรียกดูตาราง data_location

      Location Code   จังหวัด   เขต/อำเภอ        แขวง/ตำบล  รหัสไปรษณีย์
0            100101   กรุงเทพ      พระนคร  พระบรมมหาราชวัง         10200
1            100102   กรุงเทพ      พระนคร   วังบูรพาภิรมย์         10200
2            100103   กรุงเทพ      พระนคร       วัดราชบพิธ         10200
3            100104   กรุงเทพ      พระนคร      สำราญราษฎร์         10200
4            100105   กรุงเทพ      พระนคร   ศาลเจ้าพ่อเสือ         10200
...             ...       ...         ...              ...           ...
7421         961203  นราธิวาส       จะแนะ         ผดุงมาตร         96220
7422         961204  นราธิวาส       จะแนะ        ช้างเผือก         96220
7423         961301  นราธิวาส  เจาะไอร้อง              จวบ         96130
7424         961302  นราธิวาส  เจาะไอร้อง            บูกิต         96130
7425         961303  นราธิวาส  เจาะไอร้อง       มะรือโบออก         96130

[7425 rows x 5 columns]

#ตรวจสอบเมื่อลบออกไปแล้วตรวจสอบว่ายังไม่ข้อมูลที่หายไปหรือไม่

In [22]:
data_st.isnull().any() ##ดูค่า Missing รายคอลัมน์ของตาราง data_st หลังการลบค่า Missing

id                 False
station_code       False
name               False
en_name            False
th_short           False
en_short           False
chname             False
controldivision    False
exact_km           False
exact_distance     False
km                 False
class              False
lat                False
long               False
active             False
giveway            False
dual_track         False
dtype: bool

In [23]:
data_rst.isnull().any() ##ดูค่า Missing รายคอลัมน์ของตาราง data_rst หลังการลบค่า Missing

OBJECTID    False
NAMET       False
NAMEE       False
ProvName    False
AmpName     False
TamName     False
X           False
Y           False
dtype: bool

In [24]:
data_location.isnull().any() ##ดูค่า Missing รายคอลัมน์ของตาราง data_location หลังการลบค่า Missing

Location Code    False
จังหวัด          False
เขต/อำเภอ        False
แขวง/ตำบล        False
รหัสไปรษณีย์     False
dtype: bool

#Percent of missing data from dropna

เปอร์เซ็นต์ข้อมูลที่สูญเสีย

In [25]:
##ตาราง data_st
st_b = 682
st_a = 679
print(f'before = {st_b} \nafter = {st_a}\nwhich is {100*((st_b-st_a)/st_b)}')

before = 682
after = 679
which is 0.43988269794721413


จากการคำนวณจะเห็นได้ว่าตาราง data_st มีข้อมูลที่สูญเสีย 0.43 %

In [26]:
##ตาราง data_rst
rst_b = 682
rst_a = 681
print(f'before = {rst_b} \nafter = {rst_a}\nwhich is {100*((rst_b-rst_a)/rst_b)}')

before = 682
after = 681
which is 0.1466275659824047


จากการคำนวณจะเห็นได้ว่าตาราง data_rst มีข้อมูลที่สูญเสีย 0.14 %

In [27]:
##ตาราง data_location
loca_b = 7426
loca_a = 7425
print(f'before = {loca_b} \nafter = {loca_a}\nwhich is {100*((loca_b-loca_a)/loca_b)}')

before = 7426
after = 7425
which is 0.013466199838405602


จากการคำนวณจะเห็นได้ว่าตาราง data_location มีข้อมูลที่สูญเสีย 0.01 %

#รวมตารางหาจังหวัดต้นทางต้นทาง

In [28]:
table_st1 = data_t.merge(data_rst,how='left',left_on='NameSt',right_on='NAMET') #ทำการเชื่อมตาราง 2 ตาราง คือ data_t และ data_rst
table_st1 ##เรียกดูตาราง

     Zone  goback   Num  ...              TamName           X          Y
0       1       1   0.0  ...          RONG MUEANG  100.516732  13.744026
1       1       1   1.0  ...          RONG MUEANG  100.516732  13.744026
2       1       1   1.0  ...             MAKKASAN  100.547316  13.753736
3       1       1   2.0  ...          RONG MUEANG  100.516732  13.744026
4       1       1   4.0  ...          RONG MUEANG  100.516732  13.744026
..    ...     ...   ...  ...                  ...         ...        ...
229     5       2  26.0  ...                        99.067848  14.232451
230     5       2  27.0  ...  PRACHUAP KHIRI KHAN   99.793905  11.807757
231     5       2  28.0  ...            LANG SUAN   99.076502   9.949263
232     5       2  29.0  ...                        99.067848  14.232451
233     5       2  30.0  ...                        99.067848  14.232451

[234 rows x 20 columns]

In [29]:
table_st1.isnull().any() ##ดูค่า Missing ในตารางราย Column

Zone           False
goback         False
Num            False
IdTrain        False
NameFee        False
StStart        False
NameSt         False
StFinal        False
NameSt_L       False
NameStEng      False
NameStEng_L    False
Service        False
OBJECTID        True
NAMET           True
NAMEE           True
ProvName        True
AmpName         True
TamName         True
X               True
Y               True
dtype: bool

In [30]:
table_st1 = table_st1.dropna() ##ลบค่า Missing ในตาราง
table_st1 ##เรียกดูตาราง

     Zone  goback   Num  ...              TamName           X          Y
0       1       1   0.0  ...          RONG MUEANG  100.516732  13.744026
1       1       1   1.0  ...          RONG MUEANG  100.516732  13.744026
2       1       1   1.0  ...             MAKKASAN  100.547316  13.753736
3       1       1   2.0  ...          RONG MUEANG  100.516732  13.744026
4       1       1   4.0  ...          RONG MUEANG  100.516732  13.744026
..    ...     ...   ...  ...                  ...         ...        ...
229     5       2  26.0  ...                        99.067848  14.232451
230     5       2  27.0  ...  PRACHUAP KHIRI KHAN   99.793905  11.807757
231     5       2  28.0  ...            LANG SUAN   99.076502   9.949263
232     5       2  29.0  ...                        99.067848  14.232451
233     5       2  30.0  ...                        99.067848  14.232451

[225 rows x 20 columns]

In [31]:
table_st1.isnull().any() ##ดูค่า Missing ในตารางราย Column หลังลบค่า Missing

Zone           False
goback         False
Num            False
IdTrain        False
NameFee        False
StStart        False
NameSt         False
StFinal        False
NameSt_L       False
NameStEng      False
NameStEng_L    False
Service        False
OBJECTID       False
NAMET          False
NAMEE          False
ProvName       False
AmpName        False
TamName        False
X              False
Y              False
dtype: bool

In [32]:
##ตาราง table_st1
table_st1_b = 234
table_st1_a = 225
print(f'before = {table_st1_b} \nafter = {table_st1_a}\nwhich is {100*((table_st1_b-table_st1_a)/table_st1_b)}')

before = 234
after = 225
which is 3.8461538461538463


จากการคำนวณจะเห็นได้ว่าตาราง table_st1 มีข้อมูลที่สูญเสีย 3.84 %

In [33]:
table_st2 = table_st1.merge(data_location,how='left',left_on='AmpName',right_on='เขต/อำเภอ') #ทำการเชื่อมตาราง 2 ตาราง คือ table_st1 และ data_location
table_st2 ##เรียกดูตาราง

      Zone  goback   Num  IdTrain  ...    จังหวัด  เขต/อำเภอ  แขวง/ตำบล  รหัสไปรษณีย์
0        1       1   0.0      997  ...    กรุงเทพ    ปทุมวัน   รองเมือง       10330.0
1        1       1   0.0      997  ...    กรุงเทพ    ปทุมวัน    วังใหม่       10330.0
2        1       1   0.0      997  ...    กรุงเทพ    ปทุมวัน    ปทุมวัน       10330.0
3        1       1   0.0      997  ...    กรุงเทพ    ปทุมวัน    ลุมพินี       10330.0
4        1       1   1.0     1049  ...    กรุงเทพ    ปทุมวัน   รองเมือง       10330.0
...    ...     ...   ...      ...  ...        ...        ...        ...           ...
2395     5       2  30.0      486  ...  กาญจนบุรี     ไทรโยค      สิงห์       71150.0
2396     5       2  30.0      486  ...  กาญจนบุรี     ไทรโยค     ไทรโยค       71150.0
2397     5       2  30.0      486  ...  กาญจนบุรี     ไทรโยค  วังกระแจะ       71150.0
2398     5       2  30.0      486  ...  กาญจนบุรี     ไทรโยค    ศรีมงคล       71150.0
2399     5       2  30.0      486  ...  กาญจนบุรี     ไทรโยค    บ้องตี้       71150.0

[2400 rows x 25 columns]

In [34]:
table_st2.isnull().any() ##ดูค่า Missing ในตาราง

Zone             False
goback           False
Num              False
IdTrain          False
NameFee          False
StStart          False
NameSt           False
StFinal          False
NameSt_L         False
NameStEng        False
NameStEng_L      False
Service          False
OBJECTID         False
NAMET            False
NAMEE            False
ProvName         False
AmpName          False
TamName          False
X                False
Y                False
Location Code     True
จังหวัด           True
เขต/อำเภอ         True
แขวง/ตำบล         True
รหัสไปรษณีย์      True
dtype: bool

In [35]:
table_st2 = table_st2.dropna() #กำจัดค่า Missing
table_st2 #เรียกดูตาราง

      Zone  goback   Num  IdTrain  ...    จังหวัด  เขต/อำเภอ  แขวง/ตำบล  รหัสไปรษณีย์
0        1       1   0.0      997  ...    กรุงเทพ    ปทุมวัน   รองเมือง       10330.0
1        1       1   0.0      997  ...    กรุงเทพ    ปทุมวัน    วังใหม่       10330.0
2        1       1   0.0      997  ...    กรุงเทพ    ปทุมวัน    ปทุมวัน       10330.0
3        1       1   0.0      997  ...    กรุงเทพ    ปทุมวัน    ลุมพินี       10330.0
4        1       1   1.0     1049  ...    กรุงเทพ    ปทุมวัน   รองเมือง       10330.0
...    ...     ...   ...      ...  ...        ...        ...        ...           ...
2395     5       2  30.0      486  ...  กาญจนบุรี     ไทรโยค      สิงห์       71150.0
2396     5       2  30.0      486  ...  กาญจนบุรี     ไทรโยค     ไทรโยค       71150.0
2397     5       2  30.0      486  ...  กาญจนบุรี     ไทรโยค  วังกระแจะ       71150.0
2398     5       2  30.0      486  ...  กาญจนบุรี     ไทรโยค    ศรีมงคล       71150.0
2399     5       2  30.0      486  ...  กาญจนบุรี     ไทรโยค    บ้องตี้       71150.0

[2398 rows x 25 columns]

In [36]:
table_st2.isnull().any() #ดูค่า Missing ในตารางราย Column

Zone             False
goback           False
Num              False
IdTrain          False
NameFee          False
StStart          False
NameSt           False
StFinal          False
NameSt_L         False
NameStEng        False
NameStEng_L      False
Service          False
OBJECTID         False
NAMET            False
NAMEE            False
ProvName         False
AmpName          False
TamName          False
X                False
Y                False
Location Code    False
จังหวัด          False
เขต/อำเภอ        False
แขวง/ตำบล        False
รหัสไปรษณีย์     False
dtype: bool

In [37]:
##ตาราง table_st2
table_st2_b = 2400
table_st2_a = 2398
print(f'before = {table_st2_b} \nafter = {table_st2_a}\nwhich is {100*((table_st2_b-table_st2_a)/table_st2_b)}')

before = 2400
after = 2398
which is 0.08333333333333334


จากการคำนวณจะเห็นได้ว่าตาราง table_st2 มีข้อมูลที่สูญเสีย 0.08 %

In [38]:
table_st3 = table_st2.merge(data_tourist,how='left',left_on='จังหวัด',right_on='จังหวัด') #ทำการเชื่อมตาราง 2 ตาราง คือ table_st2 และ data_tourist
table_st3 #เรียกดูตาราง

      Zone  goback  ...         ภาค  จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)
0        1       1  ...     ภาคกลาง                       23617914.0
1        1       1  ...     ภาคกลาง                       23617914.0
2        1       1  ...     ภาคกลาง                       23617914.0
3        1       1  ...     ภาคกลาง                       23617914.0
4        1       1  ...     ภาคกลาง                       23617914.0
...    ...     ...  ...         ...                              ...
2393     5       2  ...  ภาคตะวันตก                        6068266.0
2394     5       2  ...  ภาคตะวันตก                        6068266.0
2395     5       2  ...  ภาคตะวันตก                        6068266.0
2396     5       2  ...  ภาคตะวันตก                        6068266.0
2397     5       2  ...  ภาคตะวันตก                        6068266.0

[2398 rows x 27 columns]

In [39]:
table_st3.isnull().any() #ดูค่า Missing ราย Column

Zone                               False
goback                             False
Num                                False
IdTrain                            False
NameFee                            False
StStart                            False
NameSt                             False
StFinal                            False
NameSt_L                           False
NameStEng                          False
NameStEng_L                        False
Service                            False
OBJECTID                           False
NAMET                              False
NAMEE                              False
ProvName                           False
AmpName                            False
TamName                            False
X                                  False
Y                                  False
Location Code                      False
จังหวัด                            False
เขต/อำเภอ                          False
แขวง/ตำบล                          False
รหัสไปรษณีย์                       False
ภาค                                False
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)    False
dtype: bool

##เลือกเฉพาะ column ที่ต้องใช้

In [40]:
table_st = table_st3[['Zone','NameFee','StStart','NameSt','StFinal','NameSt_L','X','Y','จังหวัด','ภาค','จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)']] ##เลือกคอลัมน์ที่ต้องการ
table_st ##แสดงข้อมูลของตารางที่เลือก

      Zone   NameFee  ...         ภาค จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)
0        1      เร็ว  ...     ภาคกลาง                      23617914.0
1        1      เร็ว  ...     ภาคกลาง                      23617914.0
2        1      เร็ว  ...     ภาคกลาง                      23617914.0
3        1      เร็ว  ...     ภาคกลาง                      23617914.0
4        1    ธรรมดา  ...     ภาคกลาง                      23617914.0
...    ...       ...  ...         ...                             ...
2393     5  ท้องถิ่น  ...  ภาคตะวันตก                       6068266.0
2394     5  ท้องถิ่น  ...  ภาคตะวันตก                       6068266.0
2395     5  ท้องถิ่น  ...  ภาคตะวันตก                       6068266.0
2396     5  ท้องถิ่น  ...  ภาคตะวันตก                       6068266.0
2397     5  ท้องถิ่น  ...  ภาคตะวันตก                       6068266.0

[2398 rows x 11 columns]

In [41]:
table_st.isnull().any() #ดูค่า Missing ราย Column

Zone                               False
NameFee                            False
StStart                            False
NameSt                             False
StFinal                            False
NameSt_L                           False
X                                  False
Y                                  False
จังหวัด                            False
ภาค                                False
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)    False
dtype: bool

#รวมตารางหาจังหวัดปลายทาง

In [42]:
table_l1 = data_st.merge(data_rst,how='right',left_on='name',right_on='NAMET') #ทำการเชื่อมตาราง 2 ตาราง คือ data_st และ data_rst
table_l1 #เรียกดูตาราง

        id  station_code          name  ...      TamName           X          Y
0    565.0        4281.0       ห้วยยอด  ...                99.637987   7.785456
1      NaN           NaN           NaN  ...                99.956660  14.088246
2     28.0        1038.0   บ้านปลักแรด  ...               100.725785  14.530267
3    102.0        1164.0       เด่นชัย  ...     DEN CHAI  100.046225  17.980781
4     43.0        1062.0   บ้านกกกว้าว  ...               100.442303  15.141322
..     ...           ...           ...  ...          ...         ...        ...
676    NaN           NaN           NaN  ...               102.138802  13.799641
677  414.0        4052.0       ทุ่งทอง  ...                99.638000  13.980168
678  297.0        2305.0   ตลาดหนองคาย  ...               102.725416  17.878784
679  138.0        1233.0  แกรนด์ คาแนล  ...               100.608267  13.941516
680    1.0        1001.0       กรุงเทพ  ...  RONG MUEANG  100.516732  13.744026

[681 rows x 25 columns]

In [43]:
table_l1.isnull().any() ##ดูค่า Missing ราย Column

id                  True
station_code        True
name                True
en_name             True
th_short            True
en_short            True
chname              True
controldivision     True
exact_km            True
exact_distance      True
km                  True
class               True
lat                 True
long                True
active              True
giveway             True
dual_track          True
OBJECTID           False
NAMET              False
NAMEE              False
ProvName           False
AmpName            False
TamName            False
X                  False
Y                  False
dtype: bool

In [44]:
table_l1 = table_l1.dropna() #ลบค่า Missing
table_l1 #เรียกดูตาราง

        id  station_code           name  ...      TamName           X          Y
0    565.0        4281.0        ห้วยยอด  ...                99.637987   7.785456
2     28.0        1038.0    บ้านปลักแรด  ...               100.725785  14.530267
3    102.0        1164.0        เด่นชัย  ...     DEN CHAI  100.046225  17.980781
4     43.0        1062.0    บ้านกกกว้าว  ...               100.442303  15.141322
5    351.0        3078.0        หนองสัง  ...               101.825379  13.980567
..     ...           ...            ...  ...          ...         ...        ...
675  375.0        3124.0  ตลาดน้ำ 4 ภาค  ...               100.909693  12.869605
677  414.0        4052.0        ทุ่งทอง  ...                99.638000  13.980168
678  297.0        2305.0    ตลาดหนองคาย  ...               102.725416  17.878784
679  138.0        1233.0   แกรนด์ คาแนล  ...               100.608267  13.941516
680    1.0        1001.0        กรุงเทพ  ...  RONG MUEANG  100.516732  13.744026

[658 rows x 25 columns]

In [45]:
table_l1.isnull().any() ##ดูค่า Missing ราย Column

id                 False
station_code       False
name               False
en_name            False
th_short           False
en_short           False
chname             False
controldivision    False
exact_km           False
exact_distance     False
km                 False
class              False
lat                False
long               False
active             False
giveway            False
dual_track         False
OBJECTID           False
NAMET              False
NAMEE              False
ProvName           False
AmpName            False
TamName            False
X                  False
Y                  False
dtype: bool

In [46]:
##ตาราง table_l1
table_l1_b = 681
table_l1_a = 658
print(f'before = {table_l1_b} \nafter = {table_l1_a}\nwhich is {100*((table_l1_b-table_l1_a)/table_l1_b)}')

before = 681
after = 658
which is 3.3773861967694567


จากการคำนวณจะเห็นได้ว่าตาราง table_l1 มีข้อมูลที่สูญเสีย 3.37 %

In [47]:
table_l2 = table_l1.merge(data_location,how='left',left_on='AmpName',right_on='เขต/อำเภอ') #ทำการเชื่อมตาราง 2 ตาราง คือ table_l1 และ data_st
table_l2 ##เรียกดูตาราง

         id  station_code          name  ... เขต/อำเภอ     แขวง/ตำบล รหัสไปรษณีย์
0     565.0        4281.0       ห้วยยอด  ...   ห้วยยอด       ห้วยยอด      92130.0
1     565.0        4281.0       ห้วยยอด  ...   ห้วยยอด  หนองช้างแล่น      92130.0
2     565.0        4281.0       ห้วยยอด  ...   ห้วยยอด         บางดี      92210.0
3     565.0        4281.0       ห้วยยอด  ...   ห้วยยอด       บางกุ้ง      92210.0
4     565.0        4281.0       ห้วยยอด  ...   ห้วยยอด        เขากอบ      92130.0
...     ...           ...           ...  ...       ...           ...          ...
7060  138.0        1233.0  แกรนด์ คาแนล  ...  ดอนเมือง       สนามบิน      10210.0
7061    1.0        1001.0       กรุงเทพ  ...   ปทุมวัน      รองเมือง      10330.0
7062    1.0        1001.0       กรุงเทพ  ...   ปทุมวัน       วังใหม่      10330.0
7063    1.0        1001.0       กรุงเทพ  ...   ปทุมวัน       ปทุมวัน      10330.0
7064    1.0        1001.0       กรุงเทพ  ...   ปทุมวัน       ลุมพินี      10330.0

[7065 rows x 30 columns]

In [48]:
table_l2.isnull().any() #ดูค่า Missing ราย column

id                 False
station_code       False
name               False
en_name            False
th_short           False
en_short           False
chname             False
controldivision    False
exact_km           False
exact_distance     False
km                 False
class              False
lat                False
long               False
active             False
giveway            False
dual_track         False
OBJECTID           False
NAMET              False
NAMEE              False
ProvName           False
AmpName            False
TamName            False
X                  False
Y                  False
Location Code       True
จังหวัด             True
เขต/อำเภอ           True
แขวง/ตำบล           True
รหัสไปรษณีย์        True
dtype: bool

In [49]:
table_l2 = table_l2.dropna() #ลบค่า Missing
table_l2 #เรียกดูตาราง

         id  station_code          name  ... เขต/อำเภอ     แขวง/ตำบล รหัสไปรษณีย์
0     565.0        4281.0       ห้วยยอด  ...   ห้วยยอด       ห้วยยอด      92130.0
1     565.0        4281.0       ห้วยยอด  ...   ห้วยยอด  หนองช้างแล่น      92130.0
2     565.0        4281.0       ห้วยยอด  ...   ห้วยยอด         บางดี      92210.0
3     565.0        4281.0       ห้วยยอด  ...   ห้วยยอด       บางกุ้ง      92210.0
4     565.0        4281.0       ห้วยยอด  ...   ห้วยยอด        เขากอบ      92130.0
...     ...           ...           ...  ...       ...           ...          ...
7060  138.0        1233.0  แกรนด์ คาแนล  ...  ดอนเมือง       สนามบิน      10210.0
7061    1.0        1001.0       กรุงเทพ  ...   ปทุมวัน      รองเมือง      10330.0
7062    1.0        1001.0       กรุงเทพ  ...   ปทุมวัน       วังใหม่      10330.0
7063    1.0        1001.0       กรุงเทพ  ...   ปทุมวัน       ปทุมวัน      10330.0
7064    1.0        1001.0       กรุงเทพ  ...   ปทุมวัน       ลุมพินี      10330.0

[7035 rows x 30 columns]

In [50]:
table_l2.isnull().any() #ดูค่า Missing ราย column

id                 False
station_code       False
name               False
en_name            False
th_short           False
en_short           False
chname             False
controldivision    False
exact_km           False
exact_distance     False
km                 False
class              False
lat                False
long               False
active             False
giveway            False
dual_track         False
OBJECTID           False
NAMET              False
NAMEE              False
ProvName           False
AmpName            False
TamName            False
X                  False
Y                  False
Location Code      False
จังหวัด            False
เขต/อำเภอ          False
แขวง/ตำบล          False
รหัสไปรษณีย์       False
dtype: bool

In [51]:
##ตาราง table_l2
table_l2_b = 7065
table_l2_a = 7035
print(f'before = {table_l2_b} \nafter = {table_l2_a}\nwhich is {100*((table_l2_b-table_l2_a)/table_l2_b)}')

before = 7065
after = 7035
which is 0.42462845010615713


จากการคำนวณจะเห็นได้ว่าตาราง table_l2 มีข้อมูลที่สูญเสีย 0.42 %

In [52]:
table_l3 = table_l2.merge(data_tourist,how='left',left_on='จังหวัด',right_on='จังหวัด') #ทำการเชื่อมตาราง 2 ตาราง คือ table_l3 และ data_tourist
table_l3 #เรียกดูตาราง

         id  station_code  ...      ภาค จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)
0     565.0        4281.0  ...   ภาคใต้                        648092.0
1     565.0        4281.0  ...   ภาคใต้                        648092.0
2     565.0        4281.0  ...   ภาคใต้                        648092.0
3     565.0        4281.0  ...   ภาคใต้                        648092.0
4     565.0        4281.0  ...   ภาคใต้                        648092.0
...     ...           ...  ...      ...                             ...
7030  138.0        1233.0  ...  ภาคกลาง                      23617914.0
7031    1.0        1001.0  ...  ภาคกลาง                      23617914.0
7032    1.0        1001.0  ...  ภาคกลาง                      23617914.0
7033    1.0        1001.0  ...  ภาคกลาง                      23617914.0
7034    1.0        1001.0  ...  ภาคกลาง                      23617914.0

[7035 rows x 32 columns]

In [53]:
table_l3.isnull().any() #ดูค่า Missing ราย column

id                                 False
station_code                       False
name                               False
en_name                            False
th_short                           False
en_short                           False
chname                             False
controldivision                    False
exact_km                           False
exact_distance                     False
km                                 False
class                              False
lat                                False
long                               False
active                             False
giveway                            False
dual_track                         False
OBJECTID                           False
NAMET                              False
NAMEE                              False
ProvName                           False
AmpName                            False
TamName                            False
X                                  False
Y                                  False
Location Code                      False
จังหวัด                            False
เขต/อำเภอ                          False
แขวง/ตำบล                          False
รหัสไปรษณีย์                       False
ภาค                                False
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)    False
dtype: bool

##เลือกเฉพาะ column ที่ต้องใช้

In [54]:
table_l = table_l3[['station_code','name','exact_km','km','class','X','Y','จังหวัด','ภาค','จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)']] ##เลือกคอลัมน์ที่ต้องการ
table_l ##แสดงข้อมูลของตารางที่เลือก

      station_code          name  ...      ภาค  จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)
0           4281.0       ห้วยยอด  ...   ภาคใต้                         648092.0
1           4281.0       ห้วยยอด  ...   ภาคใต้                         648092.0
2           4281.0       ห้วยยอด  ...   ภาคใต้                         648092.0
3           4281.0       ห้วยยอด  ...   ภาคใต้                         648092.0
4           4281.0       ห้วยยอด  ...   ภาคใต้                         648092.0
...            ...           ...  ...      ...                              ...
7030        1233.0  แกรนด์ คาแนล  ...  ภาคกลาง                       23617914.0
7031        1001.0       กรุงเทพ  ...  ภาคกลาง                       23617914.0
7032        1001.0       กรุงเทพ  ...  ภาคกลาง                       23617914.0
7033        1001.0       กรุงเทพ  ...  ภาคกลาง                       23617914.0
7034        1001.0       กรุงเทพ  ...  ภาคกลาง                       23617914.0

[7035 rows x 10 columns]

#รวมตารางต้นทางและปลายทาง

In [55]:
table_mix = table_st.merge(table_l,how='left',left_on='StFinal',right_on='station_code') #ทำการเชื่อมตาราง 2 ตาราง คือ table_st และ table_l
table_mix #เรียกดูตาราง

       Zone   NameFee  ...        ภาค_y จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y
0         1      เร็ว  ...  ภาคตะวันออก                         6964743.0
1         1      เร็ว  ...  ภาคตะวันออก                         6964743.0
2         1      เร็ว  ...  ภาคตะวันออก                         6964743.0
3         1      เร็ว  ...  ภาคตะวันออก                         6964743.0
4         1      เร็ว  ...  ภาคตะวันออก                         6964743.0
...     ...       ...  ...          ...                               ...
21971     5  ท้องถิ่น  ...   ภาคตะวันตก                         1430360.0
21972     5  ท้องถิ่น  ...   ภาคตะวันตก                         1430360.0
21973     5  ท้องถิ่น  ...   ภาคตะวันตก                         1430360.0
21974     5  ท้องถิ่น  ...   ภาคตะวันตก                         1430360.0
21975     5  ท้องถิ่น  ...   ภาคตะวันตก                         1430360.0

[21976 rows x 21 columns]

In [56]:
table_mix.isnull().any() #ดูค่า Missing ราย column

Zone                                 False
NameFee                              False
StStart                              False
NameSt                               False
StFinal                              False
NameSt_L                             False
X_x                                  False
Y_x                                  False
จังหวัด_x                            False
ภาค_x                                False
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_x    False
station_code                          True
name                                  True
exact_km                              True
km                                    True
class                                 True
X_y                                   True
Y_y                                   True
จังหวัด_y                             True
ภาค_y                                 True
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y     True
dtype: bool

In [57]:
table_mix = table_mix.dropna() #ลบค่า Missing
table_mix #เรียกดูตาราง

       Zone   NameFee  ...        ภาค_y จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y
0         1      เร็ว  ...  ภาคตะวันออก                         6964743.0
1         1      เร็ว  ...  ภาคตะวันออก                         6964743.0
2         1      เร็ว  ...  ภาคตะวันออก                         6964743.0
3         1      เร็ว  ...  ภาคตะวันออก                         6964743.0
4         1      เร็ว  ...  ภาคตะวันออก                         6964743.0
...     ...       ...  ...          ...                               ...
21971     5  ท้องถิ่น  ...   ภาคตะวันตก                         1430360.0
21972     5  ท้องถิ่น  ...   ภาคตะวันตก                         1430360.0
21973     5  ท้องถิ่น  ...   ภาคตะวันตก                         1430360.0
21974     5  ท้องถิ่น  ...   ภาคตะวันตก                         1430360.0
21975     5  ท้องถิ่น  ...   ภาคตะวันตก                         1430360.0

[21870 rows x 21 columns]

In [58]:
table_mix.isnull().any() #ดูค่า Missing ราย column

Zone                                 False
NameFee                              False
StStart                              False
NameSt                               False
StFinal                              False
NameSt_L                             False
X_x                                  False
Y_x                                  False
จังหวัด_x                            False
ภาค_x                                False
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_x    False
station_code                         False
name                                 False
exact_km                             False
km                                   False
class                                False
X_y                                  False
Y_y                                  False
จังหวัด_y                            False
ภาค_y                                False
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y    False
dtype: bool

In [59]:
##ตาราง table_mix
table_mix_b = 21976
table_mix_a = 21870
print(f'before = {table_mix_b} \nafter = {table_mix_a}\nwhich is {100*((table_mix_b-table_mix_a)/table_mix_b)}')

before = 21976
after = 21870
which is 0.48234437568256283


จากการคำนวณจะเห็นได้ว่าตาราง table_mix มีข้อมูลที่สูญเสีย 0.48 %

#Challenge

##1.ทำนายประเภทรถไฟที่จะเลือกใช้บริการ โดยใช้ระยะทางระหว่างสถานี จำนวนนักท่องเที่ยวในจังหวัดต้นทาง จำนวนนักท่องเที่ยวในจังหวัดปลายทาง
##2.แบ่งกลุ่มข้อมูลที่มี ลองจิจูด(column : X) และ ละติจูด (column : Y) ที่ใกล้กันจำนวน 6 กลุ่ม
##3.หาจังหวัดที่มีรถไฟขาเข้ามากที่สุด

#1.ทำนายประเภทรถไฟที่จะเลือกใช้บริการ โดยใช้ระยะทางระหว่างสถานี จำนวนนักท่องเที่ยวในจังหวัดต้นทาง จำนวนนักท่องเที่ยวในจังหวัดปลายทาง

##Classification

In [60]:
table_challenge = table_mix[['class','NameFee','exact_km','km','จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_x','จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y']]  ### เลือกคอลัมน์ที่ต้องใช้ตอบ challenge
table_challenge #เรียกดูตาราง

       class  ... จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y
0        4.0  ...                         6964743.0
1        4.0  ...                         6964743.0
2        4.0  ...                         6964743.0
3        4.0  ...                         6964743.0
4        4.0  ...                         6964743.0
...      ...  ...                               ...
21971    3.0  ...                         1430360.0
21972    3.0  ...                         1430360.0
21973    3.0  ...                         1430360.0
21974    3.0  ...                         1430360.0
21975    3.0  ...                         1430360.0

[21870 rows x 6 columns]

In [61]:
table_challenge[['class']] = table_challenge[['class']].astype(str) ### แปลงชนิดข้อมูลเป็น string

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [62]:
table_challenge.dtypes ##เช็คชนิดของข้อมูล

class                                 object
NameFee                               object
exact_km                             float64
km                                   float64
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_x    float64
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y    float64
dtype: object

In [63]:
table_challenge['NameFee'] = table_challenge['class']+"  "+table_challenge['NameFee'] ### รวม column ของ class กับ NameFee

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
table_challenge ### เช็คดูตาราง

      class  ... จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y
0       4.0  ...                         6964743.0
1       4.0  ...                         6964743.0
2       4.0  ...                         6964743.0
3       4.0  ...                         6964743.0
4       4.0  ...                         6964743.0
...     ...  ...                               ...
21971   3.0  ...                         1430360.0
21972   3.0  ...                         1430360.0
21973   3.0  ...                         1430360.0
21974   3.0  ...                         1430360.0
21975   3.0  ...                         1430360.0

[21870 rows x 6 columns]

In [65]:
table_challenge = table_challenge.drop('class',axis=1) ##ลบ column : class

In [66]:
table_challenge ### เช็คตารางดูอีกรอบ

             NameFee  ...  จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y
0          4.0  เร็ว  ...                          6964743.0
1          4.0  เร็ว  ...                          6964743.0
2          4.0  เร็ว  ...                          6964743.0
3          4.0  เร็ว  ...                          6964743.0
4          4.0  เร็ว  ...                          6964743.0
...              ...  ...                                ...
21971  3.0  ท้องถิ่น  ...                          1430360.0
21972  3.0  ท้องถิ่น  ...                          1430360.0
21973  3.0  ท้องถิ่น  ...                          1430360.0
21974  3.0  ท้องถิ่น  ...                          1430360.0
21975  3.0  ท้องถิ่น  ...                          1430360.0

[21870 rows x 5 columns]

In [67]:
X = table_challenge[['exact_km','km','จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_x','จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y']] ### กำหนด X และ y
y = table_challenge[['NameFee']]

In [68]:
X.dtypes ##ดูชนิดข้อมูลของ X

exact_km                             float64
km                                   float64
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_x    float64
จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y    float64
dtype: object

In [69]:
y.dtypes ##ดูชนิดข้อมูลของ y

NameFee    object
dtype: object

###Train Model

In [70]:
from sklearn.model_selection import train_test_split  ##Import

###Train - Test

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=5) ##Train

In [72]:
X_train.shape ##ขนาดของ X_train

(10935, 4)

###Train - Validation

In [73]:
X_train2, X_val, y_train2, y_val = train_test_split(X_train, y_train, test_size=0.3, random_state=6) ##Train2

In [74]:
X_train2.shape ##ขนาดของ X_train2

(7654, 4)

##Decision Tree

In [75]:
#import
from sklearn.tree import DecisionTreeClassifier # Import

#define
mytree = DecisionTreeClassifier() # กำหนดตัวพารามิเตอร์ของต้นไม้

#train
mytree.fit(X_train2,y_train2) # fit ตัวแบบ

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [76]:
#define
mytree1 = DecisionTreeClassifier(max_depth=5,random_state=13)
#train
mytree1.fit(X_train2,y_train2)
#test
mytree1_result = mytree1.predict(X_val)
#accuracy_score
accuracy_score(y_val, mytree1_result)

NameError: ignored

In [ ]:
#define
mytree2 = DecisionTreeClassifier(splitter='random',random_state=13)
#train
mytree2.fit(X_train2,y_train2)
#test
mytree_result2 = mytree2.predict(X_val)
#accuracy_score
accuracy_score(y_val, mytree_result2)

In [ ]:
#define
mytree3 = DecisionTreeClassifier(criterion='entropy',splitter='random',random_state=13)
#train
mytree3.fit(X_train2,y_train2)
#test
mytree_result3 = mytree3.predict(X_val)
#accuracy_score
accuracy_score(y_val, mytree_result3)

In [ ]:
#define
mytree4 = DecisionTreeClassifier(criterion='gini',max_leaf_nodes=50,splitter='random',random_state=13)
#train
mytree4.fit(X_train2,y_train2)
#test
mytree_result4 = mytree4.predict(X_val)
#accuracy_score
accuracy_score(y_val, mytree_result4)

###plot tree

In [ ]:
from sklearn.tree import plot_tree ##Import
plot_tree(mytree2)  ##plot ต้นไม้

###Evaluate

In [ ]:
from sklearn.metrics import accuracy_score ##Import

###Test

In [ ]:
mytree_result2 = mytree2.predict(X_val) ## Test

In [ ]:
accuracy_score(y_val,mytree_result2)  ##ดูความแมนยำ

##KNN

###Import

In [ ]:
from sklearn.neighbors import KNeighborsClassifier ##Import

###KNN1

In [ ]:
# Define
neigh1 = KNeighborsClassifier(n_neighbors=4, weights='uniform') # ถามเพื่อนบ้านที่ใกล้สุด 4 คนและทุกๆคนเท่ากัน
#Train
neigh1.fit(X_train2,y_train2)
#Test
KNN1_result = neigh1.predict(X_val)
accuracy_score(y_val, KNN1_result) ##ค่าความแม่นยำ

###KNN2

In [ ]:
# Define
neigh2 = KNeighborsClassifier(n_neighbors=30, weights='distance') # ถามเพื่อนบ้าน 30 คน และเพื่อนบ้านที่ใกล้มากกว่าเพื่อนบ้านที่ไกล
#Train
neigh2.fit(X_train2,y_train2)
#Test
KNN2_result = neigh2.predict(X_val)
accuracy_score(y_val, KNN2_result) ##ค่าความแม่นยำ

###KNN3

In [ ]:
# Define
neigh3 = KNeighborsClassifier(n_neighbors=1) # เลือกเพื่อนบ้านที่ใกล้ที่สุดแค่คนเดียว
#Train
neigh3.fit(X_train2,y_train2)
#Test
KNN3_result = neigh3.predict(X_val)
accuracy_score(y_val, KNN3_result) ##ค่าความแม่นยำ

##Neural Network

In [ ]:
#Import
from sklearn.neural_network import MLPClassifier ##Import


#Define
perceptron1 = MLPClassifier(random_state=6, max_iter=2000,hidden_layer_sizes=1,learning_rate_init=0.005) ##Define

###Train-Test

###ANN1

In [ ]:
#Train
perceptron1.fit(X_train2,y_train2) 
#Test
perceptron1_result = perceptron1.predict(X_val)
accuracy_score(y_val,perceptron1_result) ##ค่าความแม่นยำ

###ANN2

In [ ]:
perceptron2 = MLPClassifier(random_state=6, max_iter=2000,hidden_layer_sizes=10,learning_rate_init=0.005) #กำหนด max_iter=2000 และ learning_rate_init=0.005
#Train
perceptron2.fit(X_train2,y_train2)
#Test
perceptron2_result = perceptron2.predict(X_val)
accuracy_score(y_val,perceptron2_result) ##ค่าความแม่นยำ

###ANN3

In [ ]:
perceptron3 = MLPClassifier(random_state=6, max_iter=20000,hidden_layer_sizes=10,learning_rate_init=0.001) #กำหนด max_iter=20000 และ learning_rate_init=0.001
#Train
#Train
perceptron3.fit(X_train2,y_train2)
#Test
perceptron3_result = perceptron3.predict(X_val)
accuracy_score(y_val,perceptron3_result)  ##ค่าความแม่นยำ

##Retain & Evaluate

In [ ]:
mytree_result_final = DecisionTreeClassifier(splitter='random',random_state=13)  ## เลือก Decision Tree
#Train
mytree_result_final.fit(X_train,y_train)
#Test
mytreefinal_result = mytree.predict(X_test)
accuracy_score(y_test,mytreefinal_result) ##ค่าความแม่นยำ

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
mytree = DecisionTreeClassifier()

In [ ]:
mytree.fit(X_train2,y_train2)
mytree_result = mytree.predict(X_val)

##Evaluation

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score  ##Import

In [ ]:
accuracy_score(y_val ,mytree_result)

In [ ]:
confusion_matrix(y_val,mytree_result)

In [ ]:
ref = classification_report(y_val,mytree_result)
print(ref)

##Data Visualization

In [ ]:
from matplotlib import pyplot as plt ### Import
import matplotlib as matplotlib

In [ ]:
!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf  ##โหลด font ภาษาไทย

In [ ]:
matplotlib.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf') ##ติดตั้ง font ภาษาไทย
matplotlib.rc('font', family='TH Sarabun New')

In [ ]:
plt.scatter(data=table_challenge,y='km',x='จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_x') ##plot กราฟดูการกระจายของข้อมูล km และ จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_x
plt.ylabel('km')
plt.xlabel('จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_x')
plt.show()

In [ ]:
plt.scatter(data=table_challenge,y='km',x='จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y') ##plot กราฟดูการกระจายของข้อมูล km และ จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y
plt.ylabel('km')
plt.xlabel('จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y')
plt.show()

In [ ]:
### plot กราฟทำนายผลเพื่อตอบ Challenge
plt.plot(X_test['จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_x'], mytreefinal_result,'Pg',alpha =0.5)
plt.xlabel('จำนวนนักท่องเที่ยว (ล้านคน)')
plt.ylabel('ประเภทรถไฟ')
plt.title('ผลการทำนายประเภทรถไฟโดยใช้ระยะทางและจำนวนนักท่องเที่ยวในจังหวัดต้นทาง')
plt.show()

อธิบาย : จากกราฟผลการทำนายประเภทรถไฟโดยใช้ระยะทางและจำนวนนักท่องเที่ยวในจังหวัดต้นทาง พบว่า ถ้าจังหวัดต้นทางมีจำนวนนักท่องเที่ยว 700,000 คน ประเภทของรถไฟที่ควรเลือกใช้ก็คือ รถไฟเร็ว และถ้าจังหวัดต้นทางมีจำนวนนักท่องเที่ยว 400,000 คน ประเภทของรถไฟที่ควรเลือกใช้ก็คือ รถไฟธรรมดา

In [ ]:
### plot กราฟทำนายผลเพื่อตอบ Challenge
plt.plot(X_test['จำนวนผู้เยี่ยมเยือนทั้งหมด (คน)_y'], mytreefinal_result,'Pm',alpha =0.5)
plt.xlabel('จำนวนนักท่องเที่ยว (ล้านคน)')
plt.ylabel('ประเภทรถไฟ')
plt.title('ผลการทำนายประเภทรถไฟโดยใช้ระยะทางและจำนวนนักท่องเที่ยวในจังหวัดปลายทาง')
plt.show()

อธิบาย : จากกราฟผลการทำนายประเภทรถไฟโดยใช้ระยะทางและจำนวนนักท่องเที่ยวในจังหวัดปลายทาง พบว่า ถ้าจังหวัดต้นทางมีจำนวนนักท่องเที่ยว 600,000 คน ประเภทของรถไฟที่ควรเลือกใช้ก็คือ รถไฟด่วนพิเศษ รถไฟธรรมดา หรือรถไฟท้องถิ่น และถ้าจังหวัดต้นทางมีจำนวนนักท่องเที่ยว 350,000 คน ประเภทของรถไฟที่ควรเลือกใช้ก็คือ รถไฟ*ด่วนพิเศษ รถไฟชานเมือง รถไฟท้องถิ่น หรือรถไฟด่วนพิเศษ CNR

# **2. แบ่งกลุ่มข้อมูลรถไฟขาเข้าที่มี ลองจิจูด(column : X) และ ละติจูด (column : Y) ที่ใกล้กันจำนวน 6 กลุ่ม**
##K-Means

In [ ]:
from sklearn.cluster import KMeans  ##import kmaen
import matplotlib.pyplot as plt ##import pyplot

In [ ]:
model = KMeans(n_clusters=6)  ## Define จำนวนกลุ่ม cluster
model ## ดู model

In [ ]:
X = table_mix[['X_x','Y_x']]  ## กำหนด X ให้เอาค่าในตาราง table_mix ซึ่ง  X_x คือ ลองจิจูดของสถานีต้นทาง และ Y_x คือ ละติจูดของสถานีต้นทาง
model.fit(X)

In [ ]:
model.cluster_centers_ #ดู center ของ cluster ที่แบ่งจำนวน 6 กลุ่ม

In [ ]:
plt.scatter(model.cluster_centers_[:,0] ,model.cluster_centers_[:,1] ,c='red')  ## plot จุด cluster center ลงในกราฟ

In [ ]:
plt.scatter(data=table_mix , x='X_x',y='Y_x')  ## plot กราฟ scatter ดูความกระจายของข้อมูล ลองจิจูด และ ละติจูด

In [ ]:
plt.scatter(data=table_mix , x='X_x',y='Y_x')
plt.scatter(model.cluster_centers_[:,0] ,model.cluster_centers_[:,1] ,c='red')   ### ทำการ plot จุด cluster center และ การกระจายของข้อมูล ในกราฟเดียวกัน

##สถานีต้นทาง

In [ ]:
identified_clusters1 = model.fit_predict(X)  ## ระบุ cluster ลงในตัวแปร identified_clusters
identified_clusters1

In [ ]:
###ทำการเพิ่ม column ชื่อ Cluster ที่ได้ระบุกลุ่มแล้ว ลงในตาราง table_mix
data_with_clusters = table_mix.copy()   
data_with_clusters['Clusters'] = identified_clusters1 

## plot กราฟ แสดงกลุ่ม cluster
plt.scatter(data_with_clusters['X_x'],data_with_clusters['Y_x'],c=data_with_clusters['Clusters'],cmap='rainbow' ,alpha=0.25)
plt.scatter(model.cluster_centers_[:,0] ,model.cluster_centers_[:,1] ,c='black',alpha=1 ,marker='D')

##สถานีปลายทาง

In [ ]:
Y = table_mix[['X_y','Y_y']]  ## กำหนด X ให้เอาค่าในตาราง table_mix ซึ่ง X_x คือ ลองจิจูดของสถานีปลายทาง และ Y_y คือ ละติจูดของสถานีปลายทาง
model.fit(Y)

In [ ]:
model.cluster_centers_ #ดู center ของ cluster ที่แบ่งจำนวน 6 กลุ่ม

In [ ]:
identified_clusters2 = model.fit_predict(Y)  ## ระบุ cluster ลงในตัวแปร identified_clusters
identified_clusters2

In [ ]:
###ทำการเพิ่ม column ชื่อ Cluster ที่ได้ระบุกลุ่มแล้ว ลงในตาราง table_mix
data_with_clusters = table_mix.copy()   
data_with_clusters['Clusters'] = identified_clusters2 

## plot กราฟ แสดงกลุ่ม cluster
plt.scatter(data_with_clusters['X_y'],data_with_clusters['Y_y'],c=data_with_clusters['Clusters'],cmap='rainbow' ,alpha=0.5)
plt.scatter(model.cluster_centers_[:,0] ,model.cluster_centers_[:,1] ,c='black',alpha=1 ,marker='D')

##เช็คความถูกต้อง

In [ ]:
import numpy as np

###สถานีต้นทาง

In [ ]:
## หา column ภาค_x ที่เป็น ภาคกลาง และ หา mean
x1 = table_mix[(table_mix['ภาค_x']=='ภาคกลาง')]
x1_x = np.mean(x1['X_x'])
x1 = table_mix[(table_mix['ภาค_x']=='ภาคกลาง')]
x1_y = np.mean(x1['Y_x'])

In [ ]:
## หา column ภาค_x ที่เป็น ภาคตะวันตก และ หา mean
x2 = table_mix[(table_mix['ภาค_x']=='ภาคตะวันตก')]
x2_x = np.mean(x2['X_x'])
x2 = table_mix[(table_mix['ภาค_x']=='ภาคตะวันตก')]
x2_y = np.mean(x2['Y_x'])

In [ ]:
## หา column ภาค_x ที่เป็น ภาคตะวันออก และ หา mean
x3 = table_mix[(table_mix['ภาค_x']=='ภาคตะวันออก')]
x3_x = np.mean(x3['X_x'])
x3 = table_mix[(table_mix['ภาค_x']=='ภาคตะวันออก')]
x3_y = np.mean(x3['Y_x'])

In [ ]:
## หา column ภาค_x ที่เป็น ภาคตะวันออกเฉียงเหนือ และ หา mean
x4 = table_mix[(table_mix['ภาค_x']=='ภาคตะวันออกเฉียงเหนือ')]
x4_x = np.mean(x4['X_x'])
x4 = table_mix[(table_mix['ภาค_x']=='ภาคตะวันออกเฉียงเหนือ')]
x4_y = np.mean(x4['Y_x'])

In [ ]:
## หา column ภาค_x ที่เป็น ภาคเหนือ และ หา mean
x5 = table_mix[(table_mix['ภาค_x']=='ภาคเหนือ')]
x5_x = np.mean(x5['X_x'])
x5 = table_mix[(table_mix['ภาค_x']=='ภาคเหนือ')]
x5_y = np.mean(x5['Y_x'])

In [ ]:
## หา column ภาค_x ที่เป็น ภาคใต้ และ หา mean
x6 = table_mix[(table_mix['ภาค_x']=='ภาคใต้')]
x6_x = np.mean(x6['X_x'])
x6 = table_mix[(table_mix['ภาค_x']=='ภาคใต้')]
x6_y = np.mean(x6['Y_x'])

In [ ]:
## รวมค่า mean ของสถานีต้นทาง
matX_x = [[x1_x],[x2_x],[x3_x],[x4_x],[x5_x],[x6_x]]  
matX_y = [[x1_y],[x2_y],[x3_y],[x4_y],[x5_y],[x6_y]]

In [ ]:
matX_x #ดูค่า mean

In [ ]:
matX_y #ดูค่า mean

###สถานีปลายทาง

In [ ]:
## หา column ภาค_y ที่เป็น ภาคกลาง และ หา mean
y1 = table_mix[(table_mix['ภาค_y']=='ภาคกลาง')]
y1_x = np.mean(y1['X_y'])
y1 = table_mix[(table_mix['ภาค_y']=='ภาคกลาง')]
y1_y = np.mean(y1['Y_y'])

In [ ]:
## หา column ภาค_y ที่เป็น ภาคตะวันตก และ หา mean
y2 = table_mix[(table_mix['ภาค_y']=='ภาคตะวันตก')]
y2_x = np.mean(y2['X_y'])
y2 = table_mix[(table_mix['ภาค_y']=='ภาคตะวันตก')]
y2_y = np.mean(y2['Y_y'])

In [ ]:
## หา column ภาค_y ที่เป็น ภาคตะวันออก และ หา mean
y3 = table_mix[(table_mix['ภาค_y']=='ภาคตะวันออก')]
y3_x = np.mean(y3['X_y'])
y3 = table_mix[(table_mix['ภาค_y']=='ภาคตะวันออก')]
y3_y = np.mean(y3['Y_y'])

In [ ]:
## หา column ภาค_y ที่เป็น ภาคตะวันออกเฉียงเหนือ และ หา mean
y4 = table_mix[(table_mix['ภาค_y']=='ภาคตะวันออกเฉียงเหนือ')]
y4_x = np.mean(y4['X_y'])
y4 = table_mix[(table_mix['ภาค_y']=='ภาคตะวันออกเฉียงเหนือ')]
y4_y = np.mean(y4['Y_y'])

In [ ]:
## หา column ภาค_y ที่เป็น ภาคเหนือ และ หา mean
y5 = table_mix[(table_mix['ภาค_y']=='ภาคเหนือ')]
y5_x = np.mean(y5['X_y'])
y5 = table_mix[(table_mix['ภาค_y']=='ภาคเหนือ')]
y5_y = np.mean(y5['Y_y'])

In [ ]:
## หา column ภาค_y ที่เป็น ภาคใต้ และ หา mean
y6 = table_mix[(table_mix['ภาค_y']=='ภาคใต้')]
y6_x = np.mean(y6['X_y'])
y6 = table_mix[(table_mix['ภาค_y']=='ภาคใต้')]
y6_y = np.mean(y6['Y_y'])

In [ ]:
## รวมค่า mean ของสถานีปลายทาง
matY_x = [[y1_x],[y2_x],[y3_x],[y4_x],[y5_x],[y6_x]]
matY_y = [[y1_y],[y2_y],[y3_y],[y4_y],[y5_y],[y6_y]]

In [ ]:
matY_x #ดูค่า mean

In [ ]:
matY_y #ดูค่า mean

###plot จุดเพิ่ม ที่แบ่ง ภาคตาม mean ของแต่ละ ลองจิจูด และ ละติจูด ทั้งสถานีต้นทางและปลายทาง

In [ ]:
###ทำการเพิ่ม column ชื่อ Cluster ที่ได้ระบุกลุ่มแล้ว ลงในตาราง table_mix
data_with_clusters = table_mix.copy()   
data_with_clusters['Clusters'] = identified_clusters2 

plt.scatter(data_with_clusters['X_y'],data_with_clusters['Y_y'],c=data_with_clusters['Clusters'],cmap='rainbow' ,alpha=0.5)
plt.scatter(model.cluster_centers_[:,0] ,model.cluster_centers_[:,1] ,c='Gray',alpha=1)
plt.scatter(matX_x,matX_y,c='black',alpha=1 ,marker='D') ## plot จุดเพิ่ม ของสถานีต้นทาง

In [ ]:
###ทำการเพิ่ม column ชื่อ Cluster ที่ได้ระบุกลุ่มแล้ว ลงในตาราง table_mix
data_with_clusters = table_mix.copy()   
data_with_clusters['Clusters'] = identified_clusters2 

plt.scatter(data_with_clusters['X_y'],data_with_clusters['Y_y'],c=data_with_clusters['Clusters'],cmap='rainbow' ,alpha=0.5)
plt.scatter(model.cluster_centers_[:,0] ,model.cluster_centers_[:,1] ,c='Gray',alpha=1)
plt.scatter(matY_x,matY_y,c='black',alpha=1 ,marker='D') ## plot จุดเพิ่ม ของสถานีปลายทาง

#3.หาจังหวัดที่มีรถไฟขาเข้ามากที่สุด

In [ ]:
data = table_mix[['จังหวัด_y','StFinal','ภาค_y']] ##เลือกคอลัมน์ที่ต้องการ

In [ ]:
Top_Prov = data.groupby('จังหวัด_y').count().sort_values(by=['StFinal'],ascending=False) ##นำข้อมูล จังหวัด_y จากตาราง Data โดยพิจารณาจาก StFinal 
Top_Prov ##เรียกดูตาราง

In [ ]:
Top_Prov.shape ##ดูขนาดของตาราง

In [ ]:
from matplotlib import pyplot as plt  ## เรียกฟังก์ชันในการ Plot กราฟ

In [ ]:
Top_Prov.iloc[-33:,1]  ##ตัดคอมลัมน์

## Plot กราฟ

In [ ]:
plt.scatter(range(len(Top_Prov.iloc[-33:,1])),Top_Prov.iloc[-33:,1]) ## Plot กราฟ
plt.xlabel('province'); ##ใส่ชื่อแกน X
plt.ylabel('number of train arrivals'); ##ใส่ชื่อแกน Y

In [ ]:
plt.scatter(range(len(Top_Prov.iloc[-33:,1])),Top_Prov.iloc[-33:,1],s=1*Top_Prov.iloc[-33:,1],c=['r'])  ## Plot กราฟ โดยขนาดของจุด*แปรผันตรงกับขนาดของข้อมูล
plt.xlabel('province'); ##ใส่ชื่อแกน X
plt.ylabel('number of train arrivals'); ##ใส่ชื่อแกน Y

In [ ]:
plt.scatter(range(len(Top_Prov.iloc[-33:,1])),Top_Prov.iloc[-33:,1],s=1*Top_Prov.iloc[-33:,1],c=0.5*Top_Prov.iloc[-33:,1],cmap='cool')  ## Plot กราฟ โดยเปลี่ยนสีจุดตามข้อมูล
plt.xlabel('province'); ##กำหนดชื่อในแกน x
plt.ylabel('number of train arrivals'); ##กำหนดชื่อในแกน y

##สรุป

In [ ]:
Top_Prov.iloc[-33:1,]

จากตารางจะเห็นได้ว่า จังหวัดกรุงเทพ เป็นจังหวัดที่มีรถไฟขาเข้ามากที่สุด